<!DOCTYPE html>
<html>
	<!-- Ce fichier a pour but de centraliser la gestion de l'ensemble des fichiers View -->
    <!-- Entête de la page -->
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="Css.css" />
        <title> Portfolio </title>
    </head>
    <!-- Corps de la page -->
    <body>
        <nav class="nav">
            <div class="menu"> Accueil </div>
            <div class="menu"> CV </div>
            <div class="menu"> Réalisations </div>
            <div class="menu"> Veille </div> 
            <div class="menu"> Environnement </div>
            <div class="menu"> Contact </div>
        </nav>
        <section class="corps"> 
            <h1> Titre </h1>
            <p class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
            officia deserunt mollit anim id est laborum."</p>
        </section>
    </body>
</html>